# Use root/example as user/password credentials

#src : https://hub.docker.com/_/mariadb
#      https://www.youtube.com/watch?v=k6Nmt-l1Bzc&t=1000s

# Pour faire les dockers : 
# 1 Installer docker et docker-compose sur votre machine  verrifier avec docker "docker --version" 
# 2 Lancer docker desktop
# 3 Se placer dans le dossier contenant le fichier compose.yaml ("cd D:\MedHead_PoC_systeme_d_intervention_d_urgence\Poc\Poc\src\main\resources")
# 4 Lancer la commande "docker-compose up -d" pour lancer les contenes en arrière plan
# 5 Pour vérifier que les conteneurs sont bien lancés : "docker ps"

# Se connecter à la base de donnée avec adminer :
# Ouvrir un navigateur web et aller à l'adresse "http://localhost:8081
# Saisir les informations de connexion :
#   Serveur def : resources-db-1 (meme nom que dans "docker ps")
#   Utilisateur def : root
#   Mot de passe : example
#   Base de donnée : laisser vide pour afficher toutes les bases de données 
# Lancer PocApplication.java pour que la base de donnée se crée automatiquement
# http://localhost:8081/?server=resources-db-1&username=root

# Lancer les tests E2E :
# docker-compose up --build e2e-reservation
# docker-compose up --build e2e-autre-test

# Pour accéder à Jenkins :
# Ouvrir un navigateur web et aller à l'adresse "http://localhost:8082
# docker logs jenkins_poc   va afficher le mdp admin initial
# user : admin
#mdp : 46681356dfef482194016d6007cfa6f4

services:

  jenkins:
    build:
      context: .
      dockerfile: jenkins_poc.dockerfile
    container_name: jenkins_poc
    user: root # Nécessaire pour accéder au socket Docker sans erreur de permission
    ports:
      - 8082:8080 # Interface Web de Jenkins
      - 50000:50000 # Communication avec les agents 
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock # Permet à Jenkins de piloter Docker
    restart: always

  db:
    image: mariadb:12.1
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: example
      MARIADB_DATABASE: poc_db
    ports:
      - 3307:3306
    volumes:
      - ./sql-init:/docker-entrypoint-initdb.d

  adminer:
    image: adminer
    restart: always
    ports:
      - 8081:8080

  # test E2E : Scenario de reservation complet ( connexion + clic specialite + selection + saisie adresse + reservation)
  e2e-reservation:
    build:
      context: ../../../e2e_tests
    container_name: e2e-tests-reservation1
    extra_hosts:
      - "host.docker.internal:host-gateway"
    command: [ "node", "E2E_connexion_clicSpecialite_Selection_SaisieAdresse_reservation.js" ]
    depends_on:
      - db

  # Deuxieme test E2E : Autre scenario ( Recherche specialite + clic specialite + selection + clic GPS + reservation)
  e2e-autre-test:
    build:
      context: ../../../e2e_tests
    container_name: e2e-tests-reservation2
    extra_hosts:
      - "host.docker.internal:host-gateway"
    command: [ "node", "E2E_connexion_RechercheSpecialite_clicSpecialite_Selection_ClicGPS_reservation.js" ]
    depends_on:
      - db

volumes:
  jenkins_home:
