# Use root/example as user/password credentials

#src : https://hub.docker.com/_/mariadb
#      https://www.youtube.com/watch?v=k6Nmt-l1Bzc&t=1000s

# Pour faire les dockers : 
# 1 Installer docker et docker-compose sur votre machine  verrifier avec docker "docker --version" 
# 2 Lancer docker desktop
# 3 Se placer dans le dossier contenant le fichier compose.yaml ("cd D:\MedHead_PoC_systeme_d_intervention_d_urgence\Poc\Poc\src\main\resources")
# 4 Lancer la commande "docker-compose up -d" pour lancer les contenes en arrière plan
# 5 Pour vérifier que les conteneurs sont bien lancés : "docker ps"

# COMMANDES UTILES :
# Allumer les conteneurs   : docker-compose up -d
# Etteindre les conteneurs : docker-compose down
# Etteindre et supprimer les orphelins : docker compose down --remove-orphans
# Voir les conteneurs      : docker ps
# Forcer la construction   : docker-compose up --build --remove-orphans <nom_du_service>
# Afficher les logs        : docker logs resources-newman-db-cleaner-1
# Forcer la reconstruction : docker-compose up --force-recreate newman

# Accéder à l'application backend :
# Poc meadHead :      http://localhost:8080
# Swagger UI :        http://localhost:8080/swagger-ui/index.html
# BDD MariaDB :       http://localhost:8081/?server=resources-db-1&username=root
# Jenkins :           http://localhost:8082
# Newman Dashboard :  http://localhost:8083
# SonarQube :         http://localhost:8084

# Si pas assez de mémoire pour Jenkins et SonarQube, aller dans les paramètres de Docker Desktop et augmenter la mémoire allouée (ex : 4Go)
# Window + R
# UserProfile%
# Ouvirir le fichier .wslconfig
#  [wsl2]
#  memory=6GB
#  swap=8GB

services:

  # --- BASE DE DONNÉES ---
  # http://localhost:8081/?server=resources-db&username=root
  # Se connecter à la base de donnée avec adminer :
  # Ouvrir un navigateur web et aller à l'adresse "http://localhost:8081
  # Saisir les informations de connexion :
  # Serveur def : resources-db (meme nom que dans "docker ps")
  #   Utilisateur def : root
  #   Mot de passe : example
  #   Base de donnée : laisser vide pour afficher toutes les bases de données
  #   Les données initiales sont dans inport.sql et seront automatiquement importées au démarrage
  db:
    image: mariadb:12.1
    container_name: resources-db
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: example
      MARIADB_DATABASE: poc_db
    ports:
      - 3307:3306
    volumes:
      - ./sql-init:/docker-entrypoint-initdb.d
    # IMPORTANT : On vérifie que MariaDB est prête à accepter des connexions
    healthcheck:
      test: [ "CMD", "mariadb-admin", "ping", "-h", "localhost", "-u", "root", "-pexample" ]
      interval: 5s
      timeout: 5s
      retries: 10

  # --- APPLICATION BACKEND ---
  app:
    build:
      context: ../../../
    container_name: medhead_backend
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mariadb://db:3306/poc_db
      - SPRING_PROFILES_ACTIVE=dev
    # L'application attend maintenant que la DB soit "healthy" 
    depends_on:
      db:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8080/api/login" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s

  # --- INTERFACE DE GESTION DB ---
  adminer:
    image: adminer
    restart: always
    ports:
      - 8081:8080

  # --- SERVEUR JENKINS ---
  # Pour accéder à Jenkins :
  # Ouvrir un navigateur web et aller à l'adresse "http://localhost:8082
  # docker logs jenkins_poc   va afficher le mdp admin initial
  # user : admin
  #recup mdp : docker exec jenkins_poc cat /var/jenkins_home/secrets/initialAdminPassword


  jenkins:
    build:
      context: ./jenkins
      dockerfile: jenkins_poc.dockerfile
    container_name: jenkins_poc
    user: root
    ports:
      - 8082:8080
      - 50000:50000
    environment:
      - JAVA_OPTS=-Djenkins.install.runSetupWizard=false -Xmx2048m -Xms512m
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
      - ./jenkins/init.groovy.d:/var/jenkins_home/init.groovy.d
      - ./.env:/tmp/.env
    restart: always

  # --- TEST E2E SCÉNARIO 1 ---
  # Lancer les tests E2E :
  # docker-compose up --build e2e-tests-reservation1
  e2e-reservation:
    build:
      context: ../../../e2e_tests
    container_name: e2e-tests-reservation1
    #    command: [ "node", "E2E_connexion_clicSpecialite_Selection_SaisieAdresse_reservation.js" ]
    depends_on:
      app:
        condition: service_healthy

  # --- TEST E2E SCÉNARIO 2 ---
  # Lancer les tests E2E :
  # docker-compose up --build e2e-tests-reservation2
  e2e-autre-test:
    build:
      context: ../../../e2e_tests
    container_name: e2e-tests-reservation2
    #   command: [ "node", "E2E_connexion_RechercheSpecialite_clicSpecialite_Selection_ClicGPS_reservation.js" ]
    depends_on:
      app:
        condition: service_healthy

  newman-db-cleaner:
    image: mariadb:12.1
    container_name: newman-db-cleaner
    volumes:
      - ./api_tests_newman:/scripts
    # On le laisse allumé pour pouvoir faire le "docker cp"
    command: tail -f /dev/null
    depends_on:
      db:
        condition: service_healthy

  # --- TESTS API NEWMAN ---
  newman:
    image: dannydainton/htmlextra
    container_name: newman-api-tests
    volumes:
      - ./api_tests_newman:/etc/newman
    working_dir: /etc/newman
    # On enlève la dépendance "service_completed_successfully" qui bloquait tout
    depends_on:
      app:
        condition: service_healthy
    entrypoint: [ "newman", "run", "collection.json", "-e", "env.json", "--reporters", "cli,htmlextra", "--reporter-htmlextra-export", "index.html" ]

  newman-dashboard:
    image: nginx:alpine
    container_name: newman-dashboard
    ports:
      - "8083:80"
    volumes:
      - ./api_tests_newman:/usr/share/nginx/html:ro
    restart: always

  # --- SONARQUBE (SERVEUR) ---
  sonarqube:
    image: sonarqube:lts-community
    container_name: sonarqube-poc
    ports:
      - "8084:9000"
    environment:
      - SONAR_ES_BOOTSTRAP_CHECKS_DISABLE=true
      - SONAR_FORCEAUTHENTICATION=true
    restart: always
    healthcheck:
      test: [ "CMD-SHELL", "wget -qO- http://127.0.0.1:9000/api/system/status | grep -q UP" ]
      interval: 10s # Vérifie toutes les 10s
      timeout: 5s
      retries: 30
      start_period: 20s

  # --- SCANNER SONARQUBE ---
  sonar-scanner:
    image: sonarsource/sonar-scanner-cli:5
    container_name: sonar-scanner-poc
    volumes:
      - ../../../:/usr/src
    working_dir: /usr/src
    # On utilise les identifiants par défaut admin/admin
    #command: >
    #  sonar-scanner  -Dsonar.login=admin  -Dsonar.password=admin  -Dsonar.projectKey=MedHead_PoC  -Dsonar.sources=.  -Dsonar.host.url=http://sonarqube:9000  -Dsonar.java.binaries=target/classes
    depends_on:
      sonarqube:
        condition: service_healthy

volumes:
  jenkins_home:
